
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Recipe",
  "name": "{{ page.title }}",
  "image": "{{ site.url }}/img/{{ page.image }}",
  "author": {
    "@type":"Person",
    "name":"{{ site.owner }}"
  },
  "datePublished": "{{ page.date }}",
  "description": "{{ content | remove: '<p>' | remove: '</p>' | strip_newlines }}",
  "totalTime": "PT{{ page.baketime }}",
  "recipeYield": "{{ page.quantity }} servings",
  "recipeIngredient": [
    {% for ingredient in page.ingredients %}
    "{{ ingredient.name }}"{% unless forloop.last %},{% endunless %}{% endfor %}
  ],
  {% for a in page.allergen %}{% if a.name == 'Gluten' and a.contains == false %}
  "suitableForDiet": "http://schema.org/GlutenFreeDiet",{% endif %}{% endfor %}
  "recipeInstructions": [
    "1. Mix ingredients.",
    "2. Bake until ready.",
    "3. Enjoy."
  ]
}
</script>
