<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An Panc Patisserie, Creative Cakes &amp; Quirky Bakes">
  <meta name="author" content="Helen O'Hagan">

  <title>An Panc Patisserie</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ site.baseurl }}/css/anpanc.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
