<section id="menuprices" class="menuprices">
  <div class="container menuprices">
    <div class="col-lg-12 text-center menuprices">
      <h3>Menu &amp; Prices</h3>
      <p>Prices shown are for outside catering orders and minimum quantities may apply</p>
      {% for category in site.categories %}
        <div class="col-lg-12 text-center menucategory clearfix">
          <h3>{{ category | first }}</h3>
          {% for posts in category %}
            {% for post in posts %}
              {% if post.title != null %}
                <div class="col-lg-4 col-sm-6">
                  <!-- 3 on laptop, 2 on tablet, 1 on phone -->
                  <div class="panel panel-primary">
                    <div class="panel-heading">{{ post.title }}</div>
                    <div class="panel-body"><img src="../img/{{ post.image }}" class="img-responsive" style="width:100%" alt="{{ post.title }}"></div>
                    {% assign price_split = post.price | round: 2 | split: "." %}
                    {% assign integral = price_split[0] %}
                    {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
                    <div class="panel-footer">{% if post.currency == "EUR" %}€{% endif %}{{ integral }}.{{ fractional }}</div>
                  </div>
                </div> <!-- /.col-lg-4 -->
              {% endif %} <!-- not null -->
            {% endfor %} <!-- post in posts -->
          {% endfor %} <!-- posts in category -->
        </div> <!-- /.category -->
      {% endfor %} <!-- category in categories -->
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.container -->
  {% include data-menu.html %}
</section>
