<section id="services" class="services">
  <div class="container services">
    <div class="col-lg-12 text-center services">
      <h3>Call in or get in touch for...</h3>
      <!-- 4 on laptop, 2 on tablet, 1 on phone -->
      {% for service in site.data.services %}
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa {{ service.icon }} fa-stack-1x services-icon"></i>
          </span>
          <h4><strong>{{ service.name }}</strong></h4>
          <p>{{ service.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- /.container -->
</section>
