<!DOCTYPE html>
<html>
  <head>
    {% include generic-headers.html %}
    {% include stylesheets.html %}

    <!-- OpenGraph and Facebook Tags -->
    <meta property="fb:app_id"                              content="{{ site.facebook_appId }}" />
    <meta property="og:url"                                 content="{{ page.url | prepend: site.url }}" />
    <meta property="og:type"                                content="restaurant.menu" />
    <meta property="og:title"                               content="{{ site.restaurant_name }}" />
    <meta property="og:description"                         content="{{ site.description }}" />
    <meta property="og:image"                               content="{{ site.url }}/img/home.jpg" />
    <meta property="restaurant:restaurant"                  content="{{ site.title }}" />
    <meta property="restaurant:section"                     content="Patisserie" />
    <meta property="restaurant:contact_info:street_address" content="{{ site.street_address }}" />
    <meta property="restaurant:contact_info:locality"       content="{{ site.locality }}" />
    <meta property="restaurant:contact_info:region"         content="{{ site.region }}" />
    <meta property="restaurant:contact_info:postal_code"    content="{{ site.postal_code }}" />
    <meta property="restaurant:contact_info:country_name"   content="{{ site.country_name }}" />
    <meta property="restaurant:contact_info:email"          content="{{ site.email }}" />
    <meta property="restaurant:contact_info:phone_number"   content="{{ site.telephone }}" />
    <meta property="restaurant:contact_info:website"        content="{{ site.url }}" />
    <meta property="place:location:latitude"                content="{{ site.latitude }}" />
    <meta property="place:location:longitude"               content="{{ site.longitude }}" />
  </head>
  <body>
    {% include scripts.html %}
    {% include navigation.html %}

    {% include header.html %}
    {% include about.html %}

    <div class="page-content">
      <div class="wrapper">
        {% include tempting.html %}
        {% include menuprices.html %}
        {% include services.html %}
        {% include suppliers.html %}
        {% include map.html %}
      </div>
    </div>
  </body>

  {% include footer.html %}

</html>
