<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# restaurant: http://ogp.me/ns/restaurant# place: http://ogp.me/ns/place#">
    {% include generic-headers.html %}
    {% include stylesheets.html %}
    {% include opengraph-restaurant.html %}
    {% include scripts.html %}

  </head>
  <body>
    {% include navigation.html %}
    {% include header.html %}
    {% include about.html %}

    <div class="page-content">
      <div class="wrapper">
        {% include tempting.html %}
        {% include menuprices.html %}
        {% include services.html %}
        {% include map.html %}
      </div>
    </div>
  </body>

  {% include footer.html %}

</html>
