<!DOCTYPE html>
<html>
  <head>
    {% include generic-headers.html %}
    {% include stylesheets.html %}

    <!-- OpenGraph Tags -->
    <meta property="fb:app_id" content="{{ site.facebook_appId }}" />
    <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta property="og:type" content="restaurant.menu_item" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ content | remove: '<p>' | remove: '</p>' | strip_newlines }}" />
    <meta property="og:image" content="{{ site.url }}/img/{{ page.image }}" />
    <meta property="restaurant:section" content="{{ site.url }}/menu.html" />
    <meta property="restaurant:variation:price:amount" content="{{ page.price }}" />
  </head>

  <body>
    {% include scripts.html %}
    {% include navigation.html %}

    <header id="top" class="header" style="background-image: url({{ site.baseurl }}/img/{{ page.image }})">
      <div class="text-vertical-center">
        <h1>{{ page.title }}</h1>
        <h3>{{ content }}</h3>
      </div>
    </header>
    <div id="fb-like" class="fb-like" data-href="{{ page.url | prepend: site.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

    {% include bake.html %}
    {% include comments.html %}
  </body>

  {% include footer.html %}

</html>
